<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-header card-header-tabs card-header-primary">
                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs-wrapper">
                                <h4 class="card-title mt-0">Recommended Articles</h4>
                                <p class="card-category"> News/Blogs you may be interested in</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="profile">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <a href="javascript:void(0)" class="btn btn-round btn-fill btn-default disabled">IT</a>
                                            </td>
                                            <td>flattenthecurvehack - Australia Computer Society - ACS</td>
                                            <td class="td-actions text-right">
                                                <button mat-raised-button type="button" matTooltip="Save to favourite" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                    <span class="fa fa-star"></span>
                                                </button>
                                                <button mat-raised-button type="button" matTooltip="Not interest" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">close</i>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a href="javascript:void(0)" class="btn btn-round btn-fill btn-default disabled">IT</a>
                                            </td>
                                            <td>Most popular programming languages in Australia</td>
                                            <td class="td-actions text-right">
                                                <button mat-raised-button type="button" matTooltip="Save to favourite" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                    <span class="fa fa-star"></span>
                                                </button>
                                                <button mat-raised-button type="button" matTooltip="Not interest" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">close</i>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a _ngcontent-dev-c111="" target="_blank" href="" class="btn btn-round btn-fill btn-info">Economics</a>
                                            </td>
                                            <td>Latest financial, market & econimic news and analysis</td>
                                            <td class="td-actions text-right">
                                                <button mat-raised-button type="button" matTooltip="Save to favourite" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                    <span class="fa fa-star"></span>
                                                </button>
                                                <button mat-raised-button type="button" matTooltip="Not interest" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">close</i>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a href="javascript:void(0)" class="btn btn-round btn-fill btn-default disabled">IT</a>
                                            </td>
                                            <td>Top 10 trends of Blockchain in 2020</td>
                                            <td class="td-actions text-right">
                                                <button mat-raised-button type="button" matTooltip="Save to favourite" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                    <span class="fa fa-star"></span>
                                                </button>
                                                <button mat-raised-button type="button" matTooltip="Not interest" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">close</i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane" id="messages">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" value="" checked>
                                                        <span class="form-check-sign">
                                                            <span class="check"></span>
                                                        </span>
                                                    </label>
                                                </div>
                                            </td>
                                            <td>Flooded: One year later, assessing what was lost and what was found when a ravaging rain swept through metro Detroit
                                            </td>
                                            <td class="td-actions text-right">
                                                <button mat-raised-button type="button" matTooltip="Edit Task" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">edit</i>
                                                </button>
                                                <button mat-raised-button type="button" matTooltip="Remove" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">close</i>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" value="">
                                                        <span class="form-check-sign">
                                                            <span class="check"></span>
                                                        </span>
                                                    </label>
                                                </div>
                                            </td>
                                            <td>Sign contract for "What are conference organizers afraid of?"</td>
                                            <td class="td-actions text-right">
                                                <button mat-raised-button type="button" matTooltip="Edit Task" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">edit</i>
                                                </button>
                                                <button mat-raised-button type="button" matTooltip="Remove" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">close</i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane" id="settings">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" value="">
                                                        <span class="form-check-sign">
                                                            <span class="check"></span>
                                                        </span>
                                                    </label>
                                                </div>
                                            </td>
                                            <td>Lines From Great Russian Literature? Or E-mails From My Boss?</td>
                                            <td class="td-actions text-right">
                                                <button mat-raised-button type="button" matTooltip="Edit Task" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">edit</i>
                                                </button>
                                                <button mat-raised-button type="button" matTooltip="Remove" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">close</i>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" value="" checked>
                                                        <span class="form-check-sign">
                                                            <span class="check"></span>
                                                        </span>
                                                    </label>
                                                </div>
                                            </td>
                                            <td>Flooded: One year later, assessing what was lost and what was found when a ravaging rain swept through metro Detroit
                                            </td>
                                            <td class="td-actions text-right">
                                                <button mat-raised-button type="button" matTooltip="Edit Task" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">edit</i>
                                                </button>
                                                <button mat-raised-button type="button" matTooltip="Remove" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">close</i>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" value="" checked>
                                                        <span class="form-check-sign">
                                                            <span class="check"></span>
                                                        </span>
                                                    </label>
                                                </div>
                                            </td>
                                            <td>Sign contract for "What are conference organizers afraid of?"</td>
                                            <td class="td-actions text-right">
                                                <button mat-raised-button type="button" matTooltip="Edit Task" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">edit</i>
                                                </button>
                                                <button mat-raised-button type="button" matTooltip="Remove" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">close</i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>    
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header card-header-warning">
                        <h4 class="card-title mt-0">Learning Lab</h4>
                        <p class="card-category"> Boost your skills by learning these course</p>
                    </div>
                    <div class="card-body">
                      <div class="row">
                          <div class="col-lg-4">
                              <div class="card-post mb-4 card card-small">
                                  <div class="card-body">
                                      <h5 class="card-title">How to pitch an idea</h5>
                                      <p class="card-text text-muted"> An impressive pitch could lead you to success. Start learning this course now and it will teach you step by step to make a good pitch.</p>
                                  </div>
                                  <div class="border-top d-flex card-footer">
                                      <div class="card-post__author d-flex">
                                          <button class="btn btn-white btn-sm">
                                              <i class="material-icons">help</i> Help
                                          </button>
                                      </div>
                                      <div class="my-auto ml-auto">
                                          <button class="btn btn-white btn-sm">
                                              <i class="material-icons">bookmark</i> Start learning
                                          </button>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-lg-4">
                              <div class="card-post mb-4 card card-small">
                                  <div class="card-body">
                                      <h5 class="card-title">Introduction to MongoDB</h5>
                                      <p class="card-text text-muted">Non-relation database system becomes increasingly popular nowadays. This course would let you have a concept of how mongoDB helps in software developing.</p>
                                  </div>
                                  <div class="border-top d-flex card-footer">
                                      <div class="card-post__author d-flex">
                                          <button class="btn btn-white btn-sm">
                                              <i class="material-icons">help</i> Help
                                          </button>
                                      </div>
                                      <div class="my-auto ml-auto">
                                          <button class="btn btn-white btn-sm">
                                              <i class="material-icons">bookmark</i> Start learning
                                          </button>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-lg-4">
                              <div class="card-post mb-4 card card-small">
                                  <div class="card-body">
                                      <h5 class="card-title">Customer service skills</h5>
                                      <p class="card-text text-muted">Service-oriented roles are essential in any types of industries. Equip yourself with customer service skills make you more likely to get hands on shortly.</p>
                                  </div>
                                  <div class="border-top d-flex card-footer">
                                      <div class="card-post__author d-flex">
                                          <button class="btn btn-white btn-sm">
                                              <i class="material-icons">help</i> Help
                                          </button>
                                      </div>
                                      <div class="my-auto ml-auto">
                                          <button class="btn btn-white btn-sm">
                                              <i class="material-icons">bookmark</i> Start learning
                                          </button>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                    </div>
                </div>
            </div>
      </div>
    </div>
  </div>
  
  
  
