<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">Completed projects</h4>
                      <p class="card-category"> Summary of previous projects</p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class=" text-primary">
                                  <th>
                                      Employer
                                  </th>
                                  <th>
                                      Project
                                  </th>
                                  <th>
                                      Location
                                  </th>
                                  <th>
                                      Earnings
                                  </th>
                                  <th>
                                      Employer rating
                                  </th>
                              </thead>
                              <tbody>
                                  <tr>
                                      <td>
                                          Dakota Rice
                                      </td>
                                      <td>
                                          Repair car
                                      </td>
                                      <td>
                                          Oud-Turnhout
                                      </td>
                                      <td class="text-primary">
                                          $36,738
                                      </td>
                                      <td>
                                        <div style="">
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                        </div>
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          Minerva Hooper
                                      </td>
                                      <td>
                                          Curaçao
                                      </td>
                                      <td>
                                          Clean my apartment
                                      </td>
                                      <td class="text-primary">
                                          $23,789
                                      </td>
                                      <td>
                                        <div style="">
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star"></span>
                                        </div>
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          Sage Rodriguez
                                      </td>
                                      <td>
                                          Removal of firepit
                                      </td>
                                      <td>
                                          Baileux
                                      </td>
                                      <td class="text-primary">
                                          $56,142
                                      </td>
                                      <td>
                                        <div style="">
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                        </div>
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          Philip Chaney
                                      </td>
                                      <td>
                                          Deliver my furniture
                                      </td>
                                      <td>
                                          Overland Park
                                      </td>
                                      <td class="text-primary">
                                          $38,735
                                      </td>
                                      <td>
                                        <div style="">
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                        </div>
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          Doris Greene
                                      </td>
                                      <td>
                                          Beautician needed
                                      </td>
                                      <td>
                                          Feldkirchen in Kärnten
                                      </td>
                                      <td class="text-primary">
                                          $63,542
                                      </td>
                                      <td>
                                        <div style="">
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                        </div>
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          Mason Porter
                                      </td>
                                      <td>
                                          Tree trimming
                                      </td>
                                      <td>
                                          Gloucester
                                      </td>
                                      <td class="text-primary">
                                          $78,615
                                      </td>
                                      <td>
                                        <div style="">
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star"></span>
                                        </div>
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-12">
              <div class="card card-plain">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title mt-0">Projects in progress</h4>
                      <p class="card-category"> Summary of ongoing projects</p>
                  </div>
                  <div class="card-body">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="card-post mb-4 card card-small">
                                <div class="card-body">
                                    <h5 class="card-title">Need to move some furniture items</h5>
                                    <p class="card-text text-muted">Hey, my name is Louise, I posted this a couple of days ago but my floor got delayed slightly. I need some help moving some furniture items from one room to another..</p>
                                </div>
                                <div class="border-top d-flex card-footer">
                                    <div class="card-post__author d-flex">
                                        <button class="btn btn-white btn-sm">
                                            <i class="material-icons">help</i> Help
                                        </button>
                                    </div>
                                    <div class="my-auto ml-auto">
                                        <button class="btn btn-white btn-sm">
                                            <i class="material-icons">bookmark</i> Request claim
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card-post mb-4 card card-small">
                                <div class="card-body">
                                    <h5 class="card-title">Replace Holden ecotec sump plug</h5>
                                    <p class="card-text text-muted">Need to supply and replace ecotec sump plug, mines slightly rounded should free up with proper socket and breaker bar, not able to go to hardware store to purchase proper socket....</p>
                                </div>
                                <div class="border-top d-flex card-footer">
                                    <div class="card-post__author d-flex">
                                        <button class="btn btn-white btn-sm">
                                            <i class="material-icons">help</i> Help
                                        </button>
                                    </div>
                                    <div class="my-auto ml-auto">
                                        <button class="btn btn-white btn-sm">
                                            <i class="material-icons">bookmark</i> Request claim
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card-post mb-4 card card-small">
                                <div class="card-body">
                                    <h5 class="card-title">professional business plan for a nfp</h5>
                                    <p class="card-text text-muted">looking to spend a day with someone who will help me gather all the info to write a kick *** business plan for a new not for profit. Once I have all the info I need I can then....</p>
                                </div>
                                <div class="border-top d-flex card-footer">
                                    <div class="card-post__author d-flex">
                                        <button class="btn btn-white btn-sm">
                                            <i class="material-icons">help</i> Help
                                        </button>
                                    </div>
                                    <div class="my-auto ml-auto">
                                        <button class="btn btn-white btn-sm">
                                            <i class="material-icons">bookmark</i> Request claim
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
